
.channel-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 290px);
}

.channel-title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 28px;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
}

.channel-title > span {
  font-weight: 600;
}

.channel-content {
  padding: 20px 20px 0 28px;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
}

.message-container > i > small::before {
  content: "-";
  position: absolute;
  top: -1px;
  left: -7px;
}

.message-container > p {
  margin: 5px 0 10px;
}

.channel-editor {
  display: flex;
  box-sizing: border-box;
  height: 90px;
  border-top: 1px solid #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border-color: #d4d4d4;
}

button {
  padding: 10px 17px;
  margin-left: -2px;
  border-radius: 0 2px 2px 0;
  border: none;
  background-color: #FF005C;
  font-size: 14px;
  font-weight: 600;
}

.postit {
  border-width: 0px;
  border-style: solid;
  border-color: black;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  width:240px;
  height:240px;
  padding: 12px;
  margin: 4px;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  position: relative;
  .postit-text {
    width:100%;
    max-height:100%;
  }
  .heart {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  .heart.highlight {
    color: #fff;
  }
}

.yellow {
    background-color: #ccff00;
    .heart {
      color: #afdb00;
      &:hover {
        color: white;
      }
    }
  }
.green {
    background-color: #68FF00;
    .heart {
      color: #56d600;
      &:hover {
        color: white;
      }
    }
  }
.blue {
    background-color: #13F4EF;
    .heart {
      color: #0ad1ce;
      &:hover {
        color: white;
      }
    }
  }
.pink {
  background-color: #FF005C;
  .heart {
    color: #d6004f;
    &:hover {
      color: white;
    }
  }
}

.footer {
  padding-top: 12px;
  margin-top: 12px;
  border-top: 0.5px solid lightgray;
  a {
    text-decoration: none;
  }
}